Thumbs.db
.DS_Store
.dist
.tmp
.sass-cache
npm-debug.log
node_modules
builds
package-lock.json
.idea
.idea/workspace.xml
public/
.hugo_build.lock
resources/_gen/
hugo_stats.json
# wrangler local secrets
.dev.vars
.wrangler/
